body, text {
  font-family: 'Questrial', sans-serif;
  background-color: #000;
}

h1 {
  text-align: center;
  color: #fff;
}

path, rect {
  cursor: pointer;
}

text {
  fill: #fff;
}

line {
  stroke: #fff;
}

.active {
  opacity: 0.4 !important;
  stroke: #fff !important;
  stroke-width: 2 !important;
}
